header, footer, body {
  font-family: "Comic Sans MS", sans-serif;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 30px;

}

div {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 30px;
  text-align: center;
  
}

a {
  color: black;
}

li {
  display: inline;
  font-size: 40px;
  margin: 5px;
}

h1 {
  font-size: 75px;
  text-align: center;
}

#a {
  background: #14A3CC;
}

#b {
  background: white;
}

IMG.cloudImage {
  background: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#c {
  /* This is where are state is displayed */
  background: #FFF251;
  font-size: 50px;
  margin-top: 20px;
}

#d {
  /* This is where we'll flash that an update is made' */
  background: #FF004E;
  font-size: 25px;
}


#e {
  /* This is info contact resources */
  background: #14A3CC;
}

#f {
  /* Very bottom where we'll display more info' */
  background: #FFEE19;
}

/*Pink: #FFCBDB
Yellow: #FFEE19
Magenta: #FF004E
Light blue: #14A3CC
Dark blue: #098DB2*/