header, footer, body {
  font-family: sans-serif;
}

li {
  display: inline;
  font-size: 40px;
  margin: 5px;
}

h1 {
  font-size: 50px;
  text-align: center;
  
}


#a {
  background: #14A3CC;
  font-size: 50;
  padding: 2%;
}

#b {
  background: white;
  
}

#c {
  background: #14A3CC;
}

#d {
  background: #FFEE19;
  border: 2px solid lightgoldenrodyellow;
}

#e {
  border: 2px solid black;
  background: #14A3CC;
}

#f {
  background: #FFEE19
}

/*Pink: #FFCBDB
Yellow: #FFEE19
Magenta: #FFEE19
Light blue: #14A3CC
Dark blue: #098DB2*/