header, footer, body {
  font-family: sans-serif;

  
}

li {
  display: inline;
  font-size: 40px;
  margin: 5px;
}

h1 {
  font-size: 50px;
  text-align: center;
  
}


#a {
  background: #14A3CC;
  padding: 2%;
}

#b {
  background: white;

}

IMG.cloudImage {
  background: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#c {
  /* This is where are state is displayed */
  background: #14A3CC;
  text-align: center;
  font-size: 30px;
}

#d {
  background: #FFEE19;
  border: 2px solid lightgoldenrodyellow;
}

#e {
  border: 2px solid black;
  background: #14A3CC;
  text-align: center;
}

#f {
  background: #FFEE19
}

/*Pink: #FFCBDB
Yellow: #FFEE19
Magenta: #FFEE19
Light blue: #14A3CC
Dark blue: #098DB2*/