<!DOCTYPE HTML>
<html>
<head>
    <title>The Huggable Cloud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace
            
            $('#notconnected').siblings().hide();
            

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            
                        // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('my response', function(msg) {
                $('#log').append('<br>Received #' + msg.count + ': ' + msg.data);
            });
            
            socket.on('newState', function(msg){
                var state = msg.data;
                var tag = '#';
                var str = tag.concat(state);
                var statetag = str.toLowerCase();
                $('#c').html('<p>' + state + '</p>');
                
                console.log(statetag);
                $(statetag).siblings().hide();
                //$(statetag).show();
                $(statetag).fadeIn(400);
                
                // $(statetag).css({
                //     backgroundColor: 'blue'
                // })
                $('#d').html('<p> Updated <p>');

                
            });
   
            // handlers for the different forms in the page
            // these send data to the server in a variety of ways
        });
    </script>
    
</head>

<body>
    
    
    <div id='a'>
        <h1>The Huggable Cloud</h1>
    </div>
    
    <div id='b'>
        <img class='cloudImage' id='neutral' src="{{ url_for('static', filename='cloudneutral.png') }}" />
        <img class='cloudImage' id='hugging' src="{{ url_for('static', filename='cloudhug.png') }}" />
        <img class='cloudImage' id='notconnected' src="{{ url_for('static', filename='cloudnotconnected.png') }}" />
        <img class='cloudImage' id='punching' src="{{ url_for('static', filename='cloudpunch.png') }}" />
        <img class='cloudImage' id='shaking' src="{{ url_for('static', filename='cloudshake.png') }}" />
        <img class='cloudImage' id='spinning' src="{{ url_for('static', filename='cloudspin.png') }}" />
        <img class='cloudImage' id='throwing' src="{{ url_for('static', filename='cloudthrow.png') }}" />
    </div>
    
    <div id='c'>
        Waiting for Connection
    </div>

    <div id='d'>
        Not Updated
    </div>
    
    <div id='e'>
        <ul>
            <li>
                <a target="_blank" href="http://timmyreilly.com">Info</a>
            </li>
            <li>
                <a target="_blank" href="mailto:Tim.Reilly@microsoft.com?subject=Huggable Cloud Question">Contact</a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/timmyreilly/HuggableCloudWebsite">GitHub</a>
            </li>
        </ul>
    </div>
     

        
    <div id="f">
        <ul>
            <li>
                Previous States
            </li>
        </ul>
    </div>
    
    
    
</body>
<footer>
    <div id="state"></div>
    <!--<form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>-->
</footer>
</html>